/*
 *
 * CSS Reset
 *
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*
 *
 * General Rules
 *
 */

 body {
 	background-color: #151515;
  font-family: 'Open Sans', sans-serif;
 }

 h1,
 h2,
 h3 {

 	font-family: 'Montserrat', sans-serif;
 }

  div.main-header > header > h1 > .blue {
    color: #3385c6;
  }

 .active {
    background-color: #3385c6;
  }


 .clear:after {
  	content: "";
  	display: block;
  	clear: both;
  }









 



 