/*
 *
 * Tablet Devices
 *
 */

 @media only screen and (min-width: 401px) and (max-width: 960px) {

     /* Tablet General Rules */

     /*
 *
 * General Rules
 *
 */

 body {
  background-color: #151515;
    font-family: 'Open Sans', sans-serif;
 }

 h1,
 h2,
 h3 {

  font-family: 'Montserrat', sans-serif;
 }

 div.main-header {
  min-height: 8vh;
 }
 div.main-header > header > h1 {
  line-height: 8vh;
  color: #fff8f8;
  padding-left: 15px;
  width: 50%;
 }
 div.main-header > header > h1 > .blue {
  color: #3385c6;
 }
 div.main-header > header > form {
  width: 50%;
  display: inline-block;
  text-align: right;
  padding-top: 23px;
  padding-right: 15px;
  float: right;
 }

 input[id="searchBox"] {
  padding: 5px;
 }

 input[id="searchInput"] {
  padding: 5px;
  color: #fff8f8;
  background-color: #3385c6;
  border: 1px solid silver;
 }

 div#imageTitle > img {
  width: 100%;
  display: block;
  border: 1px solid #5a5a5a;
 }


 /*
  *
  * Navigation
  *
  */


  nav {
  width: 100%;
  min-height: 40px;
  border-right: 1px solid #5a5a5a;
  border-left: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  }
  nav > ul {
    list-style-type: none;
  }
  nav > ul > li {
    display: inline-block;
    line-height: 40px;
    margin: 10px;
  }
  nav > ul > li > a {
    padding: 15px;
    color: #fff8f8;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .active {
    background-color: #3385c6;
  }

  /*
   *
   * Main
   *
   */

   main {
    padding-top: 50px;
    min-height: 100vh;
   }
   main > h2 {
    color: #fff8f8;
    padding-left: 15px;
   }
   div.main-content {
    color: #9c9a9a;
    padding: 15px;
   }
   main > div.main-content > h4 {
    padding: 15px 0;
   }
    div.main-content > ul,
    div.main-content > ol {
        padding: 15px;
    }

   /*
    *
    * Right Panel
    *
    */

    div#left {
      min-height: 100vh;
      padding: 15px;
    }

    div#right {
      border-right: 1px solid #5a5a5a;
      border-left: 1px solid #5a5a5a;
      border-bottom: 1px solid #5a5a5a;
      height: 100vh;
    }

    div.right-panel {
      width: 100%;
      padding: 15px;
    }
    div.right-panel > div.right-panel-header {
      background-color: #3385c6;
      height: 40px;
    }
    div.right-panel > div.right-panel-header > h3 {
      color: #fff8f8;
      line-height: 40px;
      /*padding-left: 15px;*/
      text-align: center;
    }
    div.right-panel > ul {
      list-style-type: none;
    }
    div.right-panel > ul > li {
      color: #3385c6;
      padding: 15px;
      text-align: center;
    }
    div.right-panel > img {
      width: 100%;
      padding-top: 15px;
    }
    div.right-panel > div#myProfile {
      /*float: right;*/
      width: 100%;
      /*padding-left: 5px;*/
      text-align: center;
      padding-top: 25px;
    }
    div.right-panel > div#myProfile > h4 {
      color: #fff8f8;
    }
    div.right-panel > div#myProfile > a {
      text-decoration: none;
      color: #3385c6;
    }
    div.right-panel > div#myProfile > a:hover {
      text-decoration: underline;
    }


 		.container {
  	 		width: 100vw;
  	 	}

		  .col-md-1 {
		  width: 8.33%; /* 100% / 12 columns = 8.33% */
		 }

		 .col-md-2 {
		 	width: 16.66%;
		 }

		 .col-md-3 {
		 	width: 25%;
		 }

		 .col-md-4 {
		 	width: 33.33%;
		 }

		 .col-md-5 {
		 	width: 41.66%;
		 }

		 .col-md-6 {
		 	width: 50%;
		 }

		 .col-md-7 {
		 	width: 58.33%;
		 }

		 .col-md-8 {
		 	width: 66.66%;
		 }

		 .col-md-9 {
		 	width: 75%;
		 }

		 .col-md-10 {
		 	width: 83.33%;
		 }

		 .col-md-11 {
		 	width: 91.66%;
		 }

		 .col-md-12 {
		 	width: 100%;
		 }


 }
